.thumbnailContainer {
    padding-top: 10px;
    width: calc(100% + 15px);
    margin-right: -15px !important;
    max-height: 400px;
}

.sidebar-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.sidebar-thumbnail-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.sidebar-thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #000000;
}

.sidebar-thumbnail-loading {
    color: #ddd;
    padding-top: 40px;
    text-align: center;
}

.attributes-search-container {
    margin-top: 5px;
    width: 100%;
    height: auto;
}

.dicom-attributes-search {
    width: 100%;
}

.sidebar-content-loading {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.sidebar-content-loading > span {
    margin-left: 5px;
}




/* Table */


.sidebar-table-container {
    display: none;
    height: calc(100% - 185px);
    overflow-x: hidden;
    margin-top: 10px;
}

.dicom-elements-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
    color: #000;
}

.dicom-elements-table thead {
    vertical-align: middle;
    border-color: inherit;
}

.dicom-elements-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.dicom-elements-table td,  .dicom-elements-table th {
    border: 1px solid #ddd;
    border-top: 1px solid #dee2e6;
    color: #000000;
    padding: 8px;
    vertical-align: middle;
}

.dicom-elements-table th {
    font-weight: bold;
}

.dicom-elements-table td {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.unknown-attribute {
    color: #C8C8C8;
}

.tag-title {
    margin-bottom: 1px;
}

.tag-value {
    margin-bottom: 0;
}

.file-meta-information {
    font-style: italic;
}
