#viewerMain {
    background-color: #000000;
    font-family: 'Roboto', 'OpenSans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 9999;

    display: flex;
    flex-direction: column;
}

.loadingViewerMain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #44626f;
}

#viewerMain .toolbar {
    width: 100%;
    flex: 0 1 50px;
}

#viewerMain .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    border: 1px solid #44626f;
}

#viewerMain .sidebarMenu {
    width: 0;
    border-right: 1px solid #44626f;
    position: relative;
    transition: all 0.3s ease;
}

#viewerMain .mainContent {
    flex: 1;
    width: calc(100% - 272px);
    transition: all 0.3s ease;
}

#viewerMain .mainContent.content-full {
    width: 100%;
    transition: all 0.3s ease;
}

#viewerMain .viewerMainLoading {
    color: #44626f;
    text-align: center;
    font-size: 20px;
    margin-top: 40%;
}

#layoutManagerTarget .viewportContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#viewerMain .removable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#viewerMain #layoutManagerTarget, #viewerMain .imageViewerViewport {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#viewerMain .sidebarMenu.sidebar-open {
    width: 272px;
    transition: all 0.3s ease;
}

#studyBrowser {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
}

.studyBrowser {
    width: 100%;
    height: 100%;
    position: relative;
}

.slimScrollBar {
    margin: 10px 0;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.slimScrollBarActive {
    background-color: #2CA6D4 !important;
}

.thumbnailEntry {
    cursor: pointer;
    display: table;
    margin: 5px auto 15px;
}

.imageThumbnail {
    border: 1px solid #44626f;
    border-radius: 12px;
    cursor: grab;
    height: 135px;
    margin: 0 auto;
    padding: 1px 7px;
    position: relative;
    width: 217px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.imageThumbnail.active {
    border: 5px solid #2CA6D4;
}

.imageThumbnailCanvas {
    cursor: grab;
    height: 100%;
    overflow: hidden;
}

.seriesDetails {
    color: #ffffff;
    display: flex;
    font-size: 14px;
    line-height: 1.3em;
    margin-top: 5px;
    max-width: 240px;
    min-height: 36px;
    position: relative;
    word-wrap: break-word;
}

.seriesDescription {
    font-size: 12px;
    font-weight: 600;
    flex-grow: 1;
}

.seriesInformation {
    padding-right: 4px;
    width: 45px;
}

.seriesInformation .item-frames .icon {
    height: 18px;
}

.seriesInformation .icon {
    color: #20a5d6;
    display: inline-block;
    float: left;
    font-size: 10px;
    font-weight: 900;
    text-align: right;
    width: 11px;
}

.seriesInformation .icon > div {
    background-color: #678696;
    margin-top: 6px;
    position: relative;
    content: '';
    display: inline-block;
    height: 11px;
    width: 11px;
}

.seriesInformation .icon div:after {
    background-color: #20a5d6;
    box-shadow: 1px 1px rgba(0, 0, 0, .115);
    left: -5px;
    position: absolute;
    top: -5px;
    border: 1px solid #000;
    content: '';
    display: inline-block;
    height: 11px;
    width: 11px;
}

.seriesInformation .value {
    color: #91b9cd;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: 600;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 15px);
}

/* TOOLBAR */
#toolbar .toolbarSectionTools {
    margin-left: 65px;
    margin-right: 20px;
    width: auto;
    text-align: center;
    height: 50px;
    transition: 0.3s;
}

#toolbar .toolbarSectionButton {
    color: #91b9cd;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    outline: none;
    position: relative;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

#toolbar .toolbarSectionButton > .buttonLabel {
    color: #91b9cd;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
}

#toolbar .toolbarSectionButton > .buttonLabel > span {
    cursor: pointer;
}

#toolbar .toolbarSectionButton > .svgContainer {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: #91b9cd;
}

#toolbar .toolbarSectionButton > .svgContainer > i {
    font-size: 18px;
    line-height: 30px;
}

.svgContent {
    background-color: #91b9cd;
    cursor: pointer;
    margin: 2px auto;
    width: 21px;
    height: 21px;
}

.rotate-right {
    -webkit-mask-image: url('../img/rotate-right.svg');
    mask-image: url('../img/rotate-right.svg');
}

.rotate-left {
    -webkit-mask-image: url('../img/rotate-right.svg');
    mask-image: url('../img/rotate-right.svg');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.toolbarSectionTools .moreTools {
    color: #91b9cd;
    display: none;
    position: absolute;
    top: 0;
    right: 35px;
}

.toolbarSectionTools .moreTools .toolbarSectionButton .svgContainer {
    transition: 0.3s;
}

.series-panel {
    height: 15px;
    width: 15px;
    -webkit-mask-image: url('../img/series-panel.svg');
    mask-image: url('../img/series-panel.svg');
}

#toolbar .toolbarSectionButton:not(.active):hover .buttonLabel,
#toolbar .toolbarSectionButton:not(.active):hover .svgContainer {
    color: #ffffff;
}

#toolbar .toolbarSectionButton:not(.active):hover .svgContent {
    background-color: #ffffff;
}

#toolbar .active > .buttonLabel, #toolbar .active > .svgContainer{
    color: #20a5d6;
}

#toolbar .active .svgContent {
    background-color: #20a5d6;
}

#toolbar .toggleSeriesPanel {
    position: absolute;
    left: 0;
    top: 4px;
    bottom: 0;
    width: 65px;
    height: 46px;
}

#toolbar .toggleSeriesPanel .svgContainer {
    border: 2px solid #91b9cd;
    border-radius: 15px;
    width: 50px;
}

#toolbar .toggleSeriesPanel .svgContainer > .svgContent {
    width: 15px;
    height: 15px;
}

#toolbar .toggleSeriesPanel .buttonLabel {
    position: absolute;
    width: 50px;
    margin-top: 2px;
}

#toolbar .toggleSeriesPanelButton.active > .svgContainer {
    border-color: #2CA6D4;
    color: #2CA6D4 !important;
}

#toolbar .toggleSeriesPanelButton.active > .buttonLabel > span  {
    color: #2CA6D4 !important;
}

#toolbar .toggleSeriesPanelButton:hover .svgContent {
    background-color: #2CA6D4 !important;
}

#toolbar .toggleSeriesPanelButton:hover > .svgContainer {
    border-color: #2CA6D4;
    color: #2CA6D4 !important;
}

#toolbar .toggleSeriesPanelButton:hover > .buttonLabel > span {
    color: #2CA6D4 !important;
}

#imageControls .imageControlButton {
    position: absolute;
    right: 0;
    color: #163239;
    cursor: pointer;
    font-size: 28px;
    width: 40px;
    height: 40px;
    padding: 4px;
}

#imageControls .imageControlButtonActive {
    color: #2CA6D4;
}

#imageControls .imageControlUp {
    top: 10px;
}

#imageControls .imageControlDown {
    bottom: 10px;
}

.imageControls {
    position: absolute;
    right: 14px;
    top: 50px;
    bottom: 40px;
}

.imageControls .scrollbar {
    height: calc(100% - 20px);
    margin-top: 5px;
    position: relative;
    width: 14px;
}

.imageControls .scrollbar .imageSlider {
    height: 14px;
    min-height: 14px !important;
    padding: 0;
    position: absolute;
    top: 0;
    left: 7px;
    transform: rotate(90deg);
    transform-origin: top left;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
}

.imageControls .scrollbar .imageSlider:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.imageControls .scrollbar .imageSlider::-moz-focus-outer {
    border: none;
}

.imageControls .scrollbar .imageSlider::-webkit-slider-runnable-track {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    height: 14px;
    z-index: 6;
}

.imageControls .scrollbar .imageSlider::-moz-range-track {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    height: 14px;
    z-index: 6;
}

.imageControls .scrollbar .imageSlider::-ms-track {
    animate: 0.2s;
    background: transparent;
    border: none;
    border-width: 15px 0;
    color: rgba(0,0,0,0);
    cursor: pointer;
    height: 14px;
    width: 100%;
}

.imageControls .scrollbar .imageSlider::-ms-fill-lower {
    background: rgba(0,0,0,0);
}

.imageControls .scrollbar .imageSlider::-ms-fill-upper {
    background: rgba(0,0,0,0);
}

.imageControls .scrollbar .imageSlider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #163239;
    border: none;
    border-radius: 57px;
    cursor: -webkit-grab;
    height: 14px;
    margin-top: -4px;
    width: 39px;
}

.imageControls .scrollbar .imageSlider::-webkit-slider-thumb:active {
    background-color: #2CA6D4;
    cursor: -webkit-grabbing
}

.imageControls .scrollbar .imageSlider::-moz-range-thumb {
    background-color: #163239;
    border: none;
    border-radius: 57px;
    cursor: -moz-grab;
    height: 14px;
    width: 39px;
    z-index: 7;
}

.imageControls .scrollbar .imageSlider::-moz-range-thumb:active {
    background-color: #2CA6D4;
    cursor: -moz-grabbing;
}

.imageControls .scrollbar .imageSlider::-ms-thumb {
    background-color: #163239;
    border: none;
    border-radius: 57px;
    cursor: ns-resize;
    height: 14px;
    width: 39px;
}

.imageControls .scrollbar .imageSlider::-ms-thumb:active {
    background-color: #2CA6D4;
}

.imageControls .scrollbar .imageSlider::-ms-tooltip {
    display: none;
}

#studyBrowserAccordion .card-header {
    padding: 0 5px;
}

#studyBrowserAccordion .study-text {
    cursor: grab;
    font-size: 13px;
    left: 89px;
    line-height: 14px;
    position: absolute;
    right: 7px;
    top: 12px;
}

#studyBrowserAccordion .study-text .study-date {
    margin-top: 8px;
    color: #91b9cd;
    cursor: grab;
}

#studyBrowserAccordion .study-text .study-description {
    margin-top: 8px;
    color: #ffffff;
    cursor: grab;
}

#studyBrowserAccordion div:not(.collapsed) .study-item-box {
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: grab;
    padding: 5px 7px 10px;
    position: relative;
    z-index: 0;
}

#studyBrowserAccordion div:not(.collapsed) .study-item-box:hover {
    background-color: #14191E;
    border-color: #2d4660;
}

#studyBrowserAccordion div:not(.collapsed) .study-modality:before  {
    position: absolute;
    background-color: #2CA6D4;
    border: 2px solid #000000;
    border-radius: 8px;
    content: '';
    display: block;
    top: -8px;
    left: -8px;
    z-index: -1;
    width: 50px;
    height: 50px;
}

#studyBrowserAccordion div:not(.collapsed) .study-modality {
    border: 2px solid #000000;
    border-radius: 8px;
    color: #000000;
    width: 50px;
    height: 50px;
    background-color: #2CA6D4;
    font-size: 14px;
    line-height: 50px;
    margin-left: 12px;
    margin-top: 12px;
    position: relative;
}

#studyBrowserAccordion div:not(.collapsed) .study-modality:after {
    position: absolute;
    background-color: #2CA6D4;
    border: 2px solid #000000;
    border-radius: 8px;
    content: '';
    display: block;
    top: -14px;
    left: -14px;
    z-index: -2;
    width: 50px;
    height: 50px;
}

#studyBrowserAccordion div:not(.collapsed) .study-modality-text {
    height: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

#studyBrowserAccordion div.collapsed .study-modality:before,
#studyBrowserAccordion div.collapsed .study-modality,
#studyBrowserAccordion div.collapsed .study-modality:after {
    background-color: #2d4660;
    color: #91b9cd;
}

.expandedToolbar {
    height: auto !important;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media only screen and (max-width: 1200px) {
    #toolbar .toolbarSectionTools {
        padding-right: 60px;
    }

    .toolbarSectionTools .moreTools {
        display: block;
    }
}
