{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "ignore": [
    "external/cornerstoneWADO/cornerstoneWADOImageLoaderCodecs.js",
    "external/cornerstoneWADO/cornerstoneWADOImageLoaderWebWorker.js"
  ]
}
