<div id="AnnotationDialogs">
    <dialog id="annotationDialog"
            class="annotationDialog noselect">
        <h5>{{EnterAnnotationText}}</h5>
        <div class="annotationTextInputOptions">
            <label for="annotationTextInput">{{NewLabelText}}</label>
            <input name="annotationTextInput"
                   class="annotationTextInput"
                   type="text"
                   tabindex="-1"
                   autocomplete="off"/>
        </div>
        <button type="button" class="btn btn-primary annotationDialogConfirm">{{OKText}}</button>
    </dialog>

    <dialog id="relabelAnnotationDialog"
            class="annotationDialog noselect">
        <h5>{{EditAnnotationText}}</h5>
        <div class="annotationTextInputOptions">
            <label for="annotationTextInput">{{NewLabelText}}</label>
            <input name="annotationTextInput"
                   class="annotationTextInput"
                   type="text"
                   tabindex="-1"
                   autocomplete="off"/>
        </div>
        <div>
            <button type="button" class="btn btn-primary relabelConfirm">{{OKText}}</button>
            <button type="button" class="btn btn-primary relabelRemove">{{RemoveMarkerText}}</button>
        </div>
    </dialog>
</div>