<div class="sidebar-container">
    <div class="sidebar-thumbnail-container">
        <div class="sidebar-thumbnail">
            <div class="sidebar-thumbnail-loading">
                <i class="fa fa-spin fa-spinner fa-lg"></i>
            </div>
        </div>
    </div>
    <h5><strong>{{DICOMAttributesText}}</strong></h5>
    <div class="attributes-search-container">
        <input type="text" class="form-control dicom-attributes-search" placeholder="{{SearchAttributesText}}" title="{{TypeAttributeText}}">
    </div>

    <div class="sidebar-content-loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>{{ParsingDICOMFileText}}</span>
    </div>

    <div class="sidebar-table-container">
        <table class="dicom-elements-table">
            <tbody></tbody>
        </table>
    </div>
</div>