<div id="viewerMain">
    <!-- Toolbar -->
    {{> Toolbar}}

    <!-- Viewport Content -->
    <div class="content">
        <div class="sidebarMenu {{#if seriesPanelOpen}}sidebar-open{{/if}}"></div>
        <div class="mainContent {{#unless seriesPanelOpen}}content-full{{/unless}}">
            <div id="layoutManagerTarget">
                <div class="viewportContainer">
                    <div class="removable">
                        <div class="imageViewerViewport" unselectable="on" tabindex="0"></div>
                        {{> ImageControls}}
                        {{> ViewportOrientationMarkers}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading View which shows the percentage of the loaded files -->
    <div class="loadingViewerMain">
        {{LoadingText}} <span id="loadingPercentage">0</span>%
    </div>
</div>